.editor {
    border-radius: 0.15rem;
}
.editor:focus-visible {
    box-shadow: 0 0 3pt 2pt rgba(100,149,237,0.7);
    outline: none;
}

.editor button {
	display: inline-block;
    cursor: pointer;
    outline: none;
    border: 1px solid #949ea8;
    border-radius: 0.2rem;
    color: inherit;
	padding: 0 0.05rem;
    background-color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    text-align: inherit;
}
