$input-btn-padding-y: 0.2rem;
$input-btn-padding-x: 0.4rem;

@import "~bootstrap/scss/bootstrap";

html {
	font-size: 12px;
}

body {
	background-color: rgb(243, 243, 248);
}

.bg {
	background-color: rgb(243, 243, 248);
}

:root {
	color-scheme: light;
}
