.section {
  color: #000;
  background-color: #eee;
  padding: 0.7rem;
  font-weight: bold;
  margin: 1rem 0;
  display: block;
  border-radius: 4px;
}

.hform, .vform {
  margin-bottom: 0.5rem;
}
.hform {
  display: flex;
}
.hform > *:nth-child(1) {
  flex: 0 0 7rem;
}
