$white: rgb(243, 243, 248);

$input-btn-padding-y: 0.2rem;
$input-btn-padding-x: 0.4rem;

@import "~bootstrap/scss/bootstrap";


html {
	font-size: 12px;
}

body {
	background-color: $white;
}

.bg {
	background-color: $white;
}

// make scrollbar dark
:root {
	color-scheme: light;
}

.section-name {
	color: $black;
	background-color: #eee;
	padding: 0.7rem;
	font-weight: bold;
	margin: 1rem 0;
	display: block;
	border-radius: 4px;
}

.hform, .vform {
	margin-bottom: 0.5rem;
}
.hform {
	display: flex;
}
.hform > *:nth-child(1) {
	flex: 0 0 7rem;
}
